{
  "log": {
    "_recordingName": "buildUserAndRolesRelationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7732720bbb1de5f1637ea75eb65eddeb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "30"
            },
            {
              "name": "page_number",
              "value": "1"
            }
          ],
          "url": "https://api.zoom.us/v2/users?page_size=30&page_number=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 895,
            "text": "{\"page_count\":1,\"page_number\":1,\"page_size\":30,\"total_records\":2,\"users\":[{\"id\":\"a18JbG_DQketjPo0Y8wYqg\",\"first_name\":\"J1\",\"last_name\":\"Test\",\"email\":\"tj2488801@gmail.com\",\"type\":1,\"pmi\":2434936199,\"timezone\":\"\",\"verified\":1,\"dept\":\"Test\",\"created_at\":\"2021-10-28T03:49:40Z\",\"last_login_time\":\"2021-10-28T03:52:40Z\",\"pic_url\":\"https://lh3.googleusercontent.com/a/AATXAJy4ZWS6WyBZvx4Ujm476PKw65aih3KL0KVnJBTS=s96-c\",\"group_ids\":[\"ppUAdwEBRFCdRE0mfLttog\"],\"language\":\"en-US\",\"phone_number\":\"\",\"status\":\"active\",\"role_id\":\"2\"},{\"id\":\"H9Yx0-O8QUCXVIseYAsjaA\",\"first_name\":\"JupiterOne\",\"last_name\":\"Development\",\"email\":\"development@jupiterone.dev\",\"type\":2,\"pmi\":4440405982,\"timezone\":\"America/New_York\",\"verified\":1,\"created_at\":\"2021-10-27T00:00:49Z\",\"last_login_time\":\"2021-10-29T04:50:20Z\",\"group_ids\":[\"ppUAdwEBRFCdRE0mfLttog\"],\"language\":\"\",\"phone_number\":\"\",\"status\":\"active\",\"role_id\":\"0\"}]}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
