{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7794742568ef03add90ff15d4508fdbb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "grant_type",
              "value": "account_credentials"
            },
            {
              "name": "account_id",
              "value": "N0oChUdLTrCZLfk9JXp3Hw"
            }
          ],
          "url": "https://zoom.us/oauth/token?grant_type=account_credentials&account_id=N0oChUdLTrCZLfk9JXp3Hw"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 769,
            "text": "{\"access_token\":\"[REDACTED]\",\"token_type\":\"bearer\",\"expires_in\":3599,\"scope\":\"account:read:admin group:read:admin role:read:admin user:read:admin\"}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
