{
  "log": {
    "_recordingName": "fetchRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "0b6d856aa89cbe61f82ab25f5324f4ef",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.zoom.us/v2/roles"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 448,
            "text": "{\"total_records\":3,\"roles\":[{\"id\":\"0\",\"name\":\"Owner\",\"description\":\"Account owner has full privileges to access and manage a Zoom account.\",\"total_members\":1},{\"id\":\"1\",\"name\":\"Admin\",\"description\":\"Admins have wide range privileges to access and manage a Zoom account.\",\"total_members\":0},{\"id\":\"2\",\"name\":\"Member\",\"description\":\"Members have access to basic Zoom video meeting functions but no account management privileges.\",\"total_members\":1}]}"
          },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_haid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_tmaid",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "domain": ".zoom.us",
              "expires": "1970-01-01T00:00:10.000Z",
              "httpOnly": true,
              "name": "zm_htma[...]
